:root {
    --height-scale: 1svh;
    --width-scale: 1svh;
    --background-color: #1b1b1b;
    --text-color: #CCCCCC;
    --hover-glow: #11cecb40;
    --navbar-color: #ffffff;
    --navbar-hover: #00ACAA;
    --privacy-policy: #2ebae9;
    --privacy-policy-hover: #1a647c;
    --button-normal: #02335c;
    --button-danger: #690202;
    --button-warn: #6e500e;
    --selected-nav: #00CFCC;

    --melon-button: #232323;
    --melon-button-owned: #141414;
    --melon-text-owned: #666666;
    --melon-text-affordable: #00c400;
    --melon-text-not-affordable: #c40000;
    --melon-selected-tab: #222222;
    --melon-text-selected-tab: #2d82d8;
    --melon-tab-unfocused: #131313;
    --melon-shop-border: #440000;
}

body {
    color: var(--text-color);
    font-family: monospace;
    margin: 0;
    background-color: var(--background-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: left;
}

#headerdiv > h1 {
    margin: 0;
    backdrop-filter: blur(10px);
    padding-left: calc(var(--width-scale) * 1.5);
    transition: 0.4s;
}

#headerdiv > h1:hover {
    transition: 0.4s;
    text-shadow: 2px 2px 5px var(--hover-glow),
        -2px 2px 5px var(--hover-glow),
        2px -2px 5px var(--hover-glow),
        -2px -2px 5px var(--hover-glow);
    transition: 0.4s;
    font-size: 2.2em;
}

#backgrounddiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#headerdiv {
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 6svh;
    pointer-events: none;
}

#headerdiv * {
    pointer-events: all;
}

header {
    padding-right: calc(var(--width-scale) * 1.5);
}

footer {
    padding-bottom: var(--height-scale);
    display: flex;
}

footer > p {
    text-align: right;
}

#tabs {
    position: absolute;
    right: calc(var(--width-scale) * 2);
    display: flex;
    justify-content: right;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#tabs * {
    pointer-events: all;
}

.navanchor {
    color: var(--navbar-color);
    text-decoration: none;
    font-size: calc(100% + 5px);
    margin-top: calc(var(--height-scale) * 2);
    padding-left: calc(var(--width-scale) * 1.5);
    transition: 0.4s;
    height: fit-content;
}

.navanchor:hover {
    color: var(--navbar-hover);
    transition: 0.4s;
    text-shadow: 2px 2px 5px var(--hover-glow),
        -2px 2px 5px var(--hover-glow),
        2px -2px 5px var(--hover-glow),
        -2px -2px 5px var(--hover-glow);
    font-size: x-large;

}

main {
    font-size: larger;
    padding-left: calc(var(--width-scale) * 1.5);
}

p {
    padding-top: var(--height-scale);
    padding-left: calc(var(--width-scale) * 0.5);
    transition: 0.2s;
    width: fit-content;
    text-align: left;
}

.maintext {
    width: auto;
    text-align: center;
}

main > p {
    margin-top: 0;
    margin-bottom: 0.4svh;
}

.-hover-scalable:hover {
    transition: 0.2s;
    transform: scale(1.05);
    text-shadow: 1px 1px 10px #ffffff44,
        -1px 1px 10px #ffffff44,
        1px -1px 10px #ffffff44,
        -1px -1px 10px #ffffff44;
}


#maintext {
    display: none;
}

#dottext {
    color: rgb(45, 130, 216);
    font-size: medium;
    font-weight: bolder;
}

#titletext {
    text-decoration: none;
    color: var(--text-color);
}

.-setting>p {
    margin-top: 0;
}

.-setting {
    padding-left: var(--width-scale);
}

.config {
    display: flex;
    align-items: flex-start;
}

.setting-desc {
    width: fit-content;
    text-align: center;
}

#footerdiv {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}

#policyText {
    bottom: 0;
    margin: 0
}

#policyText>a {
    color: var(--privacy-policy);
}

#policyText>a:hover {
    color: var(--privacy-policy-hover);
}

.button {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 3svh;
    margin-right: 0.7vw;
    margin-left: 0.3vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.button-normal {
    background-color: var(--button-normal);
}
.button > span {
    white-space: nowrap;
}

.button-warn {
    background-color: var(--button-warn);
}

.button-danger {
    background-color: var(--button-danger);
}

.button:hover {
    filter: brightness(140%);
}

.stupidly-animated {
    display: none;
}

@media screen and (min-width: 768px) {
    .navanchor {
        padding-left: calc(var(--width-scale) * 3);
    }

    footer {
        font-size: medium;
    }

    .config {
        display: flex;
    }

    #configText {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    footer {
        font-size: 10px;
    }

    .navanchor {
        padding: 0;
        padding-left: calc(var(--width-scale) * 1.5);
    }

    #tabs {
        padding: 0;
        margin: 0;
        left: 2px;
        top: 4svh;
        justify-content: left;
    }

    .config {
        display: none;
    }

    #configText {
        display: none;
    }

    main {
        margin-top: 6svh;   
    }
}