:root {
    --height-scale: 1svh;
    --width-scale: 1svh;
}

body {
    color: #CCCCCC;
    font-family: monospace;
    margin: 0;
    background-color: #131313;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: left;
}

#headerdiv > h1 {
    margin: 0;
    backdrop-filter: blur(10px);
    padding-left: calc(var(--width-scale) * 1.5);
    transition: 0.4s;
}

#headerdiv > h1:hover {
    transition: 0.4s;
    text-shadow: 2px 2px 5px #11cecb40,
        -2px 2px 5px #11cecb40,
        2px -2px 5px #11cecb40,
        -2px -2px 5px #11cecb40;
    transition: 0.4s;
    font-size: 2.2em;
}

#backgrounddiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(90% 50% at 50% 0%, rgba(14, 67, 119, 0.25) 0%, rgba(14, 67, 119, 0) 100%);
    z-index: -1;
}

#headerdiv {
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 6svh;
}

header {
    padding-right: calc(var(--width-scale) * 1.5);
}

footer {
    padding-bottom: var(--height-scale);
    display: flex;
}

footer > p {
    text-align: right;
}

#tabs {
    position: absolute;
    right: calc(var(--width-scale) * 2);
    display: flex;
    justify-content: right;
    height: 100%;
    width: 100%;
}

.navanchor {
    color: white;
    text-decoration: none;
    font-size: calc(100% + 5px);
    padding-top: calc(var(--height-scale) * 2);
    padding-left: calc(var(--width-scale) * 1.5);
    transition: 0.4s;
}

.navanchor:hover {
    color: #00ACAA;
    transition: 0.4s;
    text-shadow: 2px 2px 5px #11cecb40,
        -2px 2px 5px #11cecb40,
        2px -2px 5px #11cecb40,
        -2px -2px 5px #11cecb40;
    font-size: x-large;

}

main {
    font-size: larger;
    padding-left: calc(var(--width-scale) * 1.5);
}

p {
    padding-top: var(--height-scale);
    padding-left: calc(var(--width-scale) * 0.5);
    transition: 0.2s;
    width: fit-content;
    text-align: left;
}

.maintext {
    width: auto;
    text-align: center;
}

main > p {
    display: none;
}

.-hover-scalable:hover {
    transition: 0.2s;
    transform: scale(1.05);
    text-shadow: 1px 1px 10px #ffffff44,
        -1px 1px 10px #ffffff44,
        1px -1px 10px #ffffff44,
        -1px -1px 10px #ffffff44;
}


#maintext {
    display: none;
}

#dottext {
    color: rgb(45, 130, 216);
    font-size: medium;
    font-weight: bolder;
}

#titletext {
    text-decoration: none;
    color: #CCCCCC;
}

#mousetrailer {
    position: absolute;
    box-shadow: 0 0 50px 10px #fff;
    border-radius: 100%;
    left: -50px;
    top: -50px;
    transition: box-shadow 0.4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
    margin-left: calc(50% - 20px);
    text-align: left;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6e6e;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 1px;
    background-color: rgb(247, 247, 247);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5bf17c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.-setting>p {
    margin-top: 0;
}

.-setting {
    padding-left: var(--width-scale);
}

.config {
    display: flex;
    align-items: flex-start;
}

.setting-desc {
    width: fit-content;
    text-align: center;
}

#policyText {
    position: absolute;
    right: calc(var(--width-scale) * 2);
    bottom: 0;
}

#policyText>a {
    color: rgb(46, 186, 233);
}

#policyText>a:hover {
    color: rgb(26, 100, 124);
}

@media screen and (min-width: 768px) {
    .navanchor {
        padding-left: calc(var(--width-scale) * 3);
    }

    footer {
        font-size: medium;
    }

    #mousetrailer {
        display: block;
    }

    .config {
        display: flex;
    }

    #configText {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    footer {
        font-size: 10px;
    }

    #mousetrailer {
        display: none;
    }

    .navanchor {
        padding-left: calc(var(--width-scale) * 1.5);
        padding-top: calc(var(--height-scale) * 2.4);
    }

    #tabs {
        padding: 0;
        margin: 0;
        left: 2px;
        top: 24px;
        justify-content: left;
    }

    .config {
        display: none;
    }

    #configText {
        display: none;
    }
}