img {
    display: block;
    margin: auto;
    margin-top: 30vh;
    transition: 0.1s;
}

main {
    align-items: center;
}

main>div {
    display: flex;
}

p {
    display: block;
    margin: auto;
}

.upgrade-shop {
    position: absolute;
    width: 15vw;
    right: 0;
    border-top: 2px solid #440000;
    border-left: 2px solid #440000;
    border-bottom: 2px solid #440000;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#upgrade-shop {
    top: 22svh;
    height: calc(59svh - 2px);
}

#onetime-upgrade-shop {
    top: 6svh;
    height: calc(15svh - 2px);
    align-items: center;
}

#clicker-upgrade-shop {
    height: calc(15svh - 2px);
    top: 82svh;
}

.upgrade-shop::-webkit-scrollbar {
    display: none;
}

.upgrade-button {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.upgrade-container {
    display: flex;
    flex-direction: column;
}

.upgrade-owned {
    text-align: right;
    margin-right: 10%;
}

.upgrade-title {
    width: 100%;
    height: 0;
    background-color: #131313;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    padding-bottom: 3svh;
}

.upgrade-title-text {
    padding-top: 0;
    text-align: center;
    line-height: 3svh;
}

.upgrade-shop-container {
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.progress-saveload-button {
    width: fit-content;
    height: 3svh;
    background-color: #02335c;
    margin-right: 0.7vw;
    margin-left: 0.3vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.progress-saveload-button > p {
    padding-left: 0;
    line-height: 3svh;
    padding-top: 0;
}

.progress-saveload-button:hover {
    cursor: pointer;
    background-color: #033e6e;
}

.mobile-upgrade-category-container {
    display: none;
}

#melonnav {
    color: #00CFCC;
    text-decoration: underline;
    font-weight: bold;
}

#melonnav:hover {
    color: #00ACAA;
}

@media screen and (max-width: 767px) {
    .upgrade-shop {
        width: 100%;
        left: 0;
    }

    #upgrade-shop {
        top: 65svh;
        height: 30svh;
    }

    #onetime-upgrade-shop {
        display: none;
        top: 65svh;
        height: 30svh;
    }

    #clicker-upgrade-shop {
        display: none;
        top: 65svh;
        height: 30svh;
    }

    img {
        margin-top: 20svh;
    }

    .upgrade-title {
        display: none;
    }

    .mobile-upgrade-category-container {
        display: flex;
        position: absolute;
        top: 60svh;
        height: 5svh;
        width: 100vw;
        margin: 0;
        left: 0;
        justify-content: space-around;
    }

    .mobile-upgrade-category-button {
        background-color: #131313;
        width: 100%;
    }

    .mobile-upgrade-category-button:hover {
        background-color: #181818;
    }

    .mobile-upgrade-category-button.active {
        color: rgb(45, 130, 216);
        background-color: #222;
        font-weight: bold;
    }

    #status-effect-container {
        display: none;
    }
}

.click-text {
    position: absolute;
    animation: textAnimation 4s forwards;
    font-size: 22px;
    pointer-events: none;
}

.drop-image {
    position: absolute;
    animation: dropAnimation 4s forwards;
    pointer-events: none;
    margin: 0;
    width: 25px;
    height: auto;
    pointer-events: none;
}

.upgrade-container > p {
    margin-left: 5px;
}

@keyframes textAnimation {
    0% {
        font-size: 22px;
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
        font-size: 14px;
    }
}

@keyframes dropAnimation {
    0% {
        width: 25px;
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        width: 10px;
        transform: translateY(350px);
        opacity: 0;
    }
}

.toast-notification {
    color: gold;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    pointer-events: none;
    animation: fadeOut 4s forwards;
    font-size: xx-large;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        transform: translateY(-50px) translateX(-50%);
        opacity: 1;
    }
    20% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: translateY(0) translateX(-50%);
        opacity: 0;
    }
}

#status-effect-container {
    position: absolute;
    top: 8svh;
    left: 2vw;
    width: 8vw;
    height: 3svh;
    background-color: #131313;
    border: 2px solid #00ACAA;
    display: none;
}

.status-effect-text {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 3svh;
    padding-left: 2px;
    padding-right: 2px;
}